
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notebooks Disponibles</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Lista de Notebooks</h1>
        <ul>
            {% for notebook in notebooks %}
            <li>
                <span>{{ notebook }}</span>
                <div class="actions">
                    <a href="{{ url_for('view_notebook', filename=notebook) }}">Ver</a>
                    
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
